.db-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
}

.db-section {
  margin-bottom: 40px;
}

.db-heading {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.db-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.db-card {
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.db-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.db-card h3, .db-card p, .db-card span {
  color: #333; /* Assurez-vous que cette couleur est visible sur un fond blanc */
  margin-bottom: 10px;
}
.db-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.db-add-btn {
  display: inline-flex;
  align-items: center;
  padding: 8px 15px;
  background-color: #25de9c;
  color: white;
  border-radius: 50px;
  text-decoration: none;
  font-size: 0.9rem;
  gap: 5px;
}

.db-add-btn:hover {
  background-color: #22cb8e;
}

.db-card-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.db-action-btn {
  padding: 6px 10px;
  border-radius: 4px;
  color: white;
  font-size: 0.85rem;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}


.db-accept-btn {
  color: #28a745;
  background: none;
  border:none; /* Couleur verte pour le bouton Accepter */
}

.db-accept-btn i {
  color: #28a745; /* Couleur de l'icône pour Accepter */
}

.db-decline-btn {
  color: #dc3545;
  background: none;
  border:none;/* Couleur rouge pour le bouton Décliner */
}

.db-decline-btn i {
  color: #dc3545; /* Couleur de l'icône pour Décliner */
}

.db-edit-btn {
  color: grey;
  background: none;
  border:none;
}

.db-delete-btn {
  color: #f44336;
  background: none;
  border:none;
}

.db-no-items {
  text-align: center;
  color: #666;
}

.fa {
  margin-right: 5px;
}

@media (max-width: 768px) {
  .db-cards {
    grid-template-columns: 1fr;
  }
}
