
  <header>
    <div class="container_home">
      <nav class="navbar">
        <a href="index.html" class="brand">RBOTNB</a>
        <ul class="menu">
          <li><a href="#">Accueil</a></li>
          <li><a href="#">Découvrir</a></li>
           <li><a href="#">Contact</a></li>
        </ul>
        <div class="buttons">
          <%= link_to 'Créer un compte', new_user_registration_path, class: 'btn btn-secondary' %>
          <%= link_to 'Se connecter', new_user_session_path, class: 'btn btn-primary' %>
        </div>

        <button class="menu-btn">
          <i class="fas fa-bars"></i>
        </button>
      </nav>

      <div class="header-body">
        <div class="header-text">
          <div>
            <h1 class="title">
               Louez l'intelligence artificielle <br>
            </h1>
            <p>
              Exlporez les possibilités de l'intelligence artificielle pour votre entreprise.
            </p>
            <div class="buttons">
              <%= link_to 'Découvrir', bots_path, class: 'btn btn-primary' %>
              <a href="#" class="btn btn-secondary">
                En savoir plus
              </a>
            </div>
            <div class="stats">
              <div>
                <h2 class="counter" data-count="1200">1200+</h2>
                <p>Happy Customers</p>
              </div>
              <div class="line"></div>
              <div>
                <h2 class="counter" data-count="600">600+</h2>
                <p>Projects Completed</p>
              </div>
            </div>
          </div>
        </div>
        <div class="banner">
            <%= image_tag 'banner.png', alt: 'banner' %>
        </div>
      </div>
    </div>
  </header>
