<footer class="simple-footer">
  <div class="footer-content">
    <a href="/cgv" class="footer-link">CGV</a>
    <a href="/politique-de-confidentialite" class="footer-link">Politique de Confidentialité</a>
    <p class="footer-text">&copy; 2023 RBOTNB</p>
  </div>
</footer>
